<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Layout page</title>
    <link th:rel="stylesheet" th:href="@{~/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/styles/album.css}" rel="stylesheet"/>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Arigato Jeans</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Jeans</a>
        <a class="p-2 text-dark" href="#">Shoes</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="/admin" sec:authorize="hasAuthority('ADMIN')">Admin Dashboard</a>
        <a class="p-2 text-dark" href="/customer/profile" sec:authorize="hasAuthority('USER')">User Profile</a>
    </nav>


    <a class="btn btn-outline-primary" href="/register" sec:authorize="!isAuthenticated()">Sign up</a>
    <a class="btn btn-outline-primary" href="/customer" sec:authorize="!isAuthenticated()">Login</a>
    <a class="btn btn-outline-primary" href="/logout" sec:authorize="isAuthenticated()">Sign out</a>
    <a type="button" class="btn btn-secondary" th:href="@{/cart/details}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <span th:text="${session.cart}"></span>
    </a>
</div>
<main role="main">
    <section layout:fragment="content">
        <p>Page content goes here</p>
    </section>
</main>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>

</body>
</html>