<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Edit Product.</h1>

<form action="/products" method="POST">
    <label for="pid">Product ID:</label><br>
    <input type="text" id="pid" name="pid"><br>
    <label for="pname">Product name:</label><br>
    <input type="text" id="pname" name="pname"><br>
    <label for="price">Product Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="size">Product Size:</label><br>
    <input type="text" id="size" name="size"><br>
    <input type="submit" value="submit">
</form>

</body>
</html>