<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

</head>
<body>
<section layout:fragment="content">
    <h1 class="h2">Products</h1>
   <div class="alert alert-success" role="alert" th:if="${message}">
       <h3 th:text="${message}"></h3>
   </div>
    <div class="alert alert-danger" role="alert" th:if="${error}">
        <h3 th:text="${error}"></h3>
    </div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/admin/files}" class="input-group" accept="images/*">
        <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Button</button>
    </form>

</section>

</body>
</html>