<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer_layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <div class="row">
            <div class="col-md-4" th:each="p: ${products}">
                <div class="card mb-4 box-shadow" >
                    <img class="card-img-top" th:src="@{/images/gettyimages1.jpg}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                            <ul>
                        <li th:text="${p.name}"></li>
                        <li th:text="${p.price}"></li>
                        <li th:text="${p.size}"></li>
                       </ul>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

</body>
</html>