<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer_layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/styles/shop.css}" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
                <div class="product-content product-wrap clearfix" th:each="p: ${products}">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="product-image">
                                <img th:unless=${#lists.isEmpty(p.images)} th:src="${p.images[0].link}" width="194" height="228" class="img-responsive">
                                <img th:if=${#lists.isEmpty(p.images)} th:src="@{/images/No_image_available.svg.png}" width="194" height="228" class="img-responsive">
                                <span class="tag2 hot">
							HOT
						</span>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="product-deatil">
                                <h5 class="name">
                                    <a th:href="@{/public/product/details(id=${p.id})}" th:text="${p.name}">
                                        <span>Category</span>
                                    </a>
                                </h5>
                                <p class="price-container">
                                    <span th:text="${p.price}"></span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a th:href="@{/cart/add/{id}(id=${p.id})}" class="btn btn-success">Add to cart</a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="rating">
                                            <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

</body>
</html>