<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

</head>
<body>
<section layout:fragment="content">
    <h1 class="h2">Products</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">-</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">

            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.size}"></td>
            <td>
                <a th:href="@{/admin/products/delete(id=${p.id})}" th:text="Delete" class="btn btn-danger"></a> |
                <a th:href="@{/admin/products/edit(id=${p.id})}" th:text="Edit" class="btn btn-primary"></a>
                <a th:href="@{/admin/inventory/accept_product(id=${p.id})}" th:text="PutToStore" class="btn btn-success"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/admin/products/new" class="btn btn-primary"> Create Product </a>
</section>
</body>
</html>